body{
    margin: 0px;
}

h1 {
   font-family: 'Monstserrat', sans-serif;
}

.post-container{
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
    background-color: #fffafa;
}

.post-container .date {
    font-family: 'Open Sans', sans-serif;
    color: rgb(1, 68, 80);
 }

.post-container div.post-content{
    width: 90%;
    font-family: 'Open Sans', sans-serif;
}

.post-container .post{
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 50px;
}



